:root {
  --dracula_Background: #282a36;
  --dracula_CurrentLine: #44475a;
  --dracula_Foreground: #f8f8f2;
  --dracula_Comment: #6272a4;
  --dracula_Cyan: #8be9fd;
  --dracula_Green: #50fa7b;
  --dracula_Orange: #ffb86c;
  --dracula_Pink: #ff79c6;
  --dracula_Purple: #bd93f9;
  --dracula_Red: #ff5555;
  --dracula_Yellow: #f1fa8c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.popup-container {
  padding: 16px;

  min-width: 320px;
  min-height: auto;

  background-color: var(--dracula_Background);
  color: var(--dracula_Foreground);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body.popup-container header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 0;
}

body.popup-container h1 {
  font-size: 16px;
  color: var(--dracula_Purple);
  font-weight: bold;
}

body.popup-container i {
  font-size: 18px;
}

body.popup-container main {
  margin-top: 8px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

div.configuration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

div.configuration > strong {
  font-size: 14px;
  width: 70%;
  white-space: nowrap;
}

/* Custom switch button for toggle theme */
.switch {
  background-color: var(--dracula_CurrentLine);
  width: 50px;
  height: 20px;
  display: block;
  border-radius: 30px;

  position: relative;
}

.switch input {
  opacity: 0;
}

.switch span.slider {
  background-color: #ccc;
  cursor: pointer;

  display: block;
  height: 25px;
  width: 25px;

  border-radius: 50%;
  border: 1px solid #0c0c0c;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  transition: 0.3s;
}

.switch span.slider:hover {
  background-color: var(--dracula_Purple);
}

.switch input:checked + .slider {
  background-color: var(--dracula_Pink);
  transform: translateX(100%) translateY(-50%);
}

.switch:has(input:checked) {
  background-color: #0c0c0c;
}
/* end custom switch */

/* input for font size changing */
div.font-size-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.font-size-container input[type="number"] {
  border-radius: 4px 0 0 4px;
  border: 1px solid var(--dracula_Foreground);
  height: 28px;
  width: 30%;
}

div.font-size-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 6px 12px;

  border: none;
  outline: none;

  border-radius: 0 4px 4px 0;
  background-color: var(--dracula_Purple);
  color: #000;
  font-weight: 600;

  cursor: pointer;
}

div.font-size-container button:hover {
  opacity: 0.85;
}
